\#*
*~
.#*
:2e*
.AppleDouble
.DS_Store
.idea
.project
nbproject
pkg
*.sw*
spec/dummy
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
